In [17]:
a = 10
print(a)
type(a)

10

int

In [18]:
int(4.5)

4

In [19]:
float(3)

3.0

In [20]:
int('12')

12

In [21]:
int('1p')

ValueError: invalid literal for int() with base 10: '1p'

In [22]:
int('2+3')

ValueError: invalid literal for int() with base 10: '2+3'

In [23]:
eval('2+4')

6

In [1]:
print(1,2,3,4)

1 2 3 4

In [2]:
print(1,2,3,4,sep='-')

1-2-3-4

In [3]:
print(1,2,3,4,end='%')

1 2 3 4%

In [8]:
a = int(input('Enter the first Number: '))
b = int(input('Enter the second Number: '))
s = a+b 
print(s)

Enter the first Number: 2
Enter the second Number: 3
5

In [10]:
a,b = int(input('Enter the Numbers: '))
s = a+b 
print(s)

Enter the Numbers: 2

TypeError: cannot unpack non-iterable int object

In [12]:
a,b = 10,20
s = a+b 
print(s)

30

In [13]:
from math import pi
r = int(input('Enter the radius: '))
a = pi*r**2
print(a)

Enter the radius: 2
12.566370614359172

In [15]:
sum = 0
n = int(input('Enter the Number: '))
a = n%10
sum = sum+a
n=n//10
a = n%10
sum = sum+a
n=n//10
a = n%10
sum = sum+a
n=n//10
a = n%10
sum = sum+a
n=n//10
a = n%10
sum = sum+a
n=n//10
print(sum)

Enter the Number: 12345
15

# If- else

In [25]:
n = int(input('Enter the Number: '))
if n>10:
    print('A')
else:
    print("B")

Enter the Number: 45
A

In [28]:
n = int(input('Enter the Number: '))
if n==10:
    print('A')
elif n==20:
    print("B")
elif n==30:
    print("C")
else:
    print("D")

Enter the Number: 20
B

In [30]:
n = int(input('Enter the Number: '))
if n==10: print('VD')

Enter the Number: 10
VD