In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

# While Loop

In [5]:
i = 0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [ ]:
# While Loop with else

In [6]:
i = 0
while i<5:
    print(i)
    i+=1
else:
    print("No Items Left")

0
1
2
3
4
No Items Left

# For Loop

# for val in sequence:
    #body

In [8]:
L = [1,2,3,4]
for i in L:
    print(i)

1
2
3
4

In [ ]:
# For Loop with else

In [9]:
L = [1,2,3,4]
for i in L:
    print(i)
else:
     print("No Items Left")

1
2
3
4
No Items Left

# for loop with range function

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(1,5):
    print(i)

1
2
3
4

In [12]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# Print table of any number

In [17]:
n = int(input('Enter the number:'))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter the number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Sum of digits of 5 digits number

In [13]:
n = int(input('Enter the number:'))
sum = 0
while n>0:
    a=n%10
    sum =sum+a
    n=n//10

print('The sum is',sum)

Enter the number:12345
The sum is 15

# Reverse of of 5 digits number

In [14]:
n = int(input('Enter the number:'))
revnum = 0
while n>0:
    a=n%10
    revnum = revnum*10+a
    n=n//10
print('The reverse number is',revnum)

Enter the number:12345
The reverse number is 54321

# Fibonacci

In [41]:
n = int(input('Enter the terms:'))
a=0
b=1
print(a,b,end=' ')
for i in range(2,n):
    c=a+b
    print(c,end=' ')
    a=b
    b=c

Enter the terms:5
0 1 1 2 3

In [18]:
for i in range(5):
    for j in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [24]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [25]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [40]:
i = 97
print(chr(i))
type(chr(i))

a

str

In [23]:
for i in range(65,70):
    for j in range(65,70):
        print(chr(j),end=' ')
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [28]:
for i in range(97,102):
    for j in range(97,102):
        print(chr(j),end=' ')
    print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [29]:
for i in range(97,102):
    for j in range(97,102):
        print(chr(i),end=' ')
    print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

* 
* * 
* * * 
* * * * 
* * * * *

In [16]:
for i in range(5):
    for j in range(1,i+2):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [15]:
for i in range(5):
    for j in range(1,i+2):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [31]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [30]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [32]:
for i in range(97,102):
    for j in range(97,i+1):
        print(chr(j),end=' ')
    print()

a
a b
a b c
a b c d
a b c d e

In [44]:
for i in range(5,0,-1):
    for j in range(i-4,0,-1):
        print(end='')
    for k in range(5,i-1,-1):
        print(k,end='')
    print()

5
54
543
5432
54321

In [33]:
for i in range(5,0,-1):
    for j in range(0,i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [34]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [35]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [36]:
for i in range(70,65,-1):
    for j in range(65,i):
        print(chr(j),end=' ')
    print()

A B C D E
A B C D
A B C
A B
A

In [37]:
for i in range(69,64,-1):
    for j in range(65,i+1):
        print(chr(i),end=' ')
    print()

E E E E E
D D D D
C C C
B B
A

In [38]:
for i in range(102,97,-1):
    for j in range(97,i):
        print(chr(j),end=' ')
    print()

a b c d e
a b c d
a b c
a b
a

In [39]:
for i in range(101,96,-1):
    for j in range(97,i+1):
        print(chr(i),end=' ')
    print()

e e e e e
d d d d
c c c
b b
a

In [42]:
for i in range(5):
    for j in range(4-i,0,-1):
        print(end=' ')
    for k in range(5,i+6):
        print(k,end='')
    print()

    5
   56
  567
 5678
56789

In [43]:
word = "Arvind"
x =''
for i in word:
    x = x+i
    print(x)

A
Ar
Arv
Arvi
Arvin
Arvind