# String

In [3]:
s1 = "String 1"
print(s1)

String 1

In [4]:
s2 = 'String 2'
print(s2)

String 2

In [6]:
s3 = '''Hello 
this is triple quote string that is 
used for doc string'''
print(s3)

Hello
this is triple quote string that is
used for doc string

# Accessing chararcter from the string

# Indexing

In [7]:
s4 = "Python"
s4[3]

'h'

In [9]:
s4[6] # index error

IndexError: string index out of range

In [10]:
s4[-1]

'n'

# Slicing

In [8]:
s4[1:4]

'yth'

# String Updation

# You can't update string because it is immutable

# Concatenation

In [11]:
s1+s2

'String 1String 2'

# Repetition Operator

In [12]:
s1*2

'String 1String 1'

# Iterating through loop

In [13]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [17]:
word = 'Python'
x = ' '
for i in word:
    x = x+i
    print(x)

 P
 Py
 Pyt
 Pyth
 Pytho
 Python

# He said,"what's is going on"

In [19]:
print('He said,"what\'s is going on"')

He said,"what's is going on"

In [23]:
print("He said,\"what's is going on\"")

He said,"what's is going on"

# Membership

In [24]:
word = "Python"
'P' in word

True

# enumerate()

In [28]:
word = "Python"
list(enumerate(word))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

# Format Method

In [30]:
x = 10
y = 20
print('This is x= {} and y={}'.format(x,y))

This is x= 10 and y=20

In [31]:
x = 10
y = 20
print('This is x= {1} and y={0}'.format(x,y))

This is x= 20 and y=10

In [32]:
print('This is x= {x} and y={y}'.format(x=23,y=33))

This is x= 23 and y=33

# lower()

In [33]:
s1 = 'PYTHON'
s1.lower()

'python'

# upper()

In [34]:
s1 = 'python'
s1.upper()

'PYTHON'

# split()

In [35]:
s11 = 'This is my string'
s11.split()

['This', 'is', 'my', 'string']

# join()

In [36]:
L = ['Hello','How','are','you']
s12=' '.join(L)
print(s12)

Hello How are you

In [38]:
s = "Python Programing"
s[::-1]

'gnimargorP nohtyP'

# join()

In [1]:
s = ['a','good','boy']
' '.join(s)

'a good boy'