In [2]:
t1 = (1)
print(t1)

1

In [3]:
type(t1)

int

In [6]:
t2 = (1,)
print(t2)

(1,)

In [7]:
type(t2)

tuple

In [2]:
t3 = (1,2,3)
print(t3)

(1, 2, 3)

# Tuple Constructor

In [5]:
t4 = tuple(('a','b','c',))
print(t4)

('a', 'b', 'c')

# empty tuple

In [1]:
t = ()
print(t)

()

# Accessing Values in Tuples

In [6]:
t5 = (1,2,3,4,5)
t5[1:3]

(2, 3)

# Updating Tuple

In [7]:
t6 = (1,2,3,4)
t6[2]= 23
print(t6)

TypeError: 'tuple' object does not support item assignment

# Add Items

# we can't add items to tuple

# Delete Items from tuple

# delete

In [8]:
del(t6)

In [9]:
t6

NameError: name 't6' is not defined

# length of tuple

In [10]:
t6 = (1,2,3,4,5,)
len(t6)

5

# Concatenation

In [11]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

# Repetition

In [12]:
t7 = (1,2,3)
t7*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Membership

In [13]:
3 in t7

True

# Iteration through loop

In [14]:
for i in t7:
    print(i)

1
2
3